html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold-webfont.svg#robotoregular') format('svg'),
    url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg'),
    url('../fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg'),
    url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'RobotoLight';
        src: url('../fonts/Roboto-Regular-webfont.eot');
        src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg'),
        url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'RobotoThin';
        src: url('../fonts/Roboto-Regular-webfont.eot');
        src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg'),
        url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

a {
    outline: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

#big-image {
    position: absolute;
    top: 110px;
    height: 600px;
    width: 100%;
    min-width: 960px;
    background: url("../img/bird_second.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

#content {
    position: relative;
    width: 960px;
    display: table;
    margin: 0 auto;
    z-index: 10;
}

.header {
    padding: 18px;
    height: 90px;
}

.header > * {
    display: inline-block;
    float: left;
    margin: 0;
}

.header > h1 {
    text-indent: -10000px;
    white-space: nowrap;
    height: 77px;
    width: 77px;
    background: url("../img/logo.png");
}

.header > ul {
    padding-top: 30px;
    width: 690px;
    text-align: center;
}

.header > ul > li {
    font-size: 16px;
    font-family: "Roboto", serif;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid black;
}

.header > ul > li:last-child {
    border-right: none;
}

.header > .anniversary {
    position: absolute;
    text-indent: -10000px;
    white-space: nowrap;
    height: 80px;
    width: 114px;
    background: url("../img/anniversary.png");
    float: right;
}

.wrapper {
    display: table;
    margin: 0 auto;
}

.wrapper .box {
    float: left;
}

.wrapper .box-2 {
    width: 100%;
}

.discovery {
    margin-top: 200px;
    text-indent: -10000px;
    white-space: nowrap;
    width: 905px;
    height: 65px;
    background: url("../img/text.png") no-repeat;
    background-size: cover;
}

.macroshot {
    height: 231px;
	width: 819px;
    background: url("../img/macroshot.png") no-repeat center center;
    background-size: contain;
}

.circle {
    height: 240px;
    width: 240px;
    background: #f7dd2f;
    border-radius: 100%;
    margin-right: 35px;
    margin-left: 35px;
    text-align: center;
    font-family: "RobotoThin", serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.circle > * {
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
}

.circle:first-child {
    margin-left: 0;
}

.circle:last-child {
    margin-right: 0;
}

.circle:last-child > div {
    font-size: 20px;
    line-height: 20px;
}

.circle:last-child > ul {
    text-transform: none;
    font-size: 13px;
    margin-left: -15px;
    line-height: 12px;
    text-align: left;
}

.circle:last-child > ul > li {
    font-size: 9px;
    margin-left: 15px;
}

.circle:last-child > ul > li:first-child {
    margin-top: 5px;
}

.arrow {
    width: 32px;
    height: 35px;
    margin-top: 95px;
    background: url("../img/right_arrow.png") no-repeat;
}

.footer {
    margin-top: 50px;
    font-size: 12px;
    text-align: justify;
    font-family: "RobotoThin", serif;
    text-transform: uppercase;
    border-top: 1px solid #dddddd;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 50px;
    width: 95%;
    position: relative;
}

.footer > ul {
    margin: 15px 0 0;
    padding: 0;
}

.footer > ul > li {
    display: inline-block;
    padding: 0 10px;
}

.footer > ul > li:first-child {
    padding-left: 0;
}

.footer > ul > li:last-child {
    padding-right: 0;
}

.footer > .up {
    position: absolute;
    top: -20px;
    right: -45px;
    display: block;
    text-indent: -10000px;
    white-space: nowrap;
    height: 37px;
    width: 36px;
    background: url("../img/up_arrow.png") no-repeat;
}

.main-text {
    width: 590px;
    height: 200px;
    background: url("../img/head.png") no-repeat center center;
    background-size: contain;
}

/*.text {
    font-family: "RobotoLight", serif;
    color: black;
}

.text.description {
    margin-top: 140px;
    text-align: left;
}
*/
/*
.text.big {
    font-family: "RobotoBold", serif;
    font-size: 30px;
    line-height: 30px;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.text.small {
    font-size: 17px;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    line-height: 35px;
}
*/

.circles {
    margin-top: 30px;
    margin-bottom: 30px;
}

.items > .item {
    float: left;
    width: 480px;
    font-family: "RobotoThin", serif;
    font-size: 18px;
    position: relative;
}

.items > .item > * {
    float: left;
}

.items > .item > img {
    width: 285px;
}

.items > .item > .description {
    width: 180px;
    margin-top: 65px;
    margin-left: 15px;
}

.items > .item > .description > a {
    position: absolute;
    background: #fede00;
    bottom: 40px;
    font-size: 14px;
    text-transform: none;
    padding: 2px 10px;
}

.items > .item > .description > a:hover {
    text-decoration: none;
}

#mobile-menu-button {
    position: absolute;
    z-index: 30;
    top: 20px;
    right: 40px;
    height: 32px;
    width: 47px;
    background: url("../img/hamburger.png") no-repeat;
    display: none;
    cursor: pointer;
}

#mobile-menu {
    display: none;
    position: absolute;
    z-index: 20;
    top: 0;
    padding-top: 100px;
    right: -20px;
    width: 250px;
    background: #333333;
    color: #aaaaaa;
    font-family: "RobotoRegular", serif;
}

#mobile-menu > ul {
    padding: 0;
    text-align: right;
}

#mobile-menu > ul > li {
    font-size: 16px;
    list-style: none;
    padding: 10px 30px;
    border-bottom: 1px solid #272727;
}

#mobile-menu > ul > li:first-child {
    border-top: 1px solid #272727;
}

#mobile-menu > ul > li > a {
    color: #aaaaaa;
}

.cashback {
    height: 160px;
    width: 160px;
    background: url("../img/cashback.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 130px;
    right: 0;
}

@media only screen and (max-width: 1090px) {
    #big-image {
        min-width: 100%;
        height: 280px;
    }

    #content {
        width: 100%;
    }

    .header > ul {
        display: none;
    }

    .header > .anniversary {
        display: none;
    }

    .discovery {
        margin-top: 80px;
        width: 480px;
        height: 34px;
    }

    .macroshot {
        height: 195px;
        background: url("../img/macroshot_mobile.png") no-repeat center center;
        background-size: contain;
    }

    .circles {
        display: flex;
        margin-left: -10px;
        justify-content: center;
    }

    .circle {
        height: 90px;
        width: 90px;
        background: #f7dd2f;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
        font-family: "RobotoThin", serif;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .circle > * {
        display: inline-block;
        font-size: 11px;
        line-height: 11px;
    }

    .circle:first-child {
        margin-left: 0;
    }

    .circle:last-child {
        margin-right: 0;
    }

    .circle:last-child > div {
        font-size: 10px;
        line-height: 10px;
    }

    .circle:last-child > ul {
        display: none;
    }

    .arrow {
        width: 16px;
        height: 17px;
        margin-top: 35px;
        background: url("../img/right_arrow.png") no-repeat center center;
        background-size: contain;
    }

    #mobile-menu-button {
        display: block;
    }

    #mobile-menu {
        display: none;
        position: absolute;
        top: 0;
    }

    .main-text {
        width: 480px;
        height: 121px;
        margin-bottom: 50px;
    }

    .items > .item {
        width: auto;
    }

    .items > .item > img {
        width: 130px;
        margin-left: 15px;
    }

    .items > .item > .description {
        width: 130px;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 12px;
        line-height: 14px;
    }

    .items > .item > .description > a {
        position: absolute;
        background: #fede00;
        bottom: 10px;
        font-size: 14px;
        text-transform: none;
        padding: 2px 10px;
    }

    /*
    .text.big {
        font-size: 25px;
        line-height: 25px;
    }

    .text.small {
        font-size: 14px;
    }
    */

    .text.description {
        font-size: 12px;
        margin-top: 0;
        padding-left: 10px;
        /* padding-right: 10px; */
        width: 42%;
    }

    .footer > ul {
        display: none;
    }

    .footer {
        font-size: 10px;
        width: 80%;
        padding-left: 0;
        margin-left: 10px;
    }

    .cashback {
        height: 120px;
        width: 110px;
        top: 67px;
        right: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .circle {
        height: 120px;
        width: 120px;
    }

    .arrow {
        margin-top: 52px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1090px) {
    .circle {
        height: 150px;
        width: 150px;
    }

    .arrow {
        margin-top: 70px;
    }
}